

.counter {
  margin: auto;
  width: 7%;
  border: 3px solid rgb(12, 47, 51);
  padding: 10px;
}

.container {

  border: 2px solid;
  padding: 20px; 
  width: 300px;
  resize: both;
  overflow: auto;
  background-color: #f69966;
  box-shadow: rgba(93, 50, 88, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20%;
 
}
body{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 8em;
  text-align: center;
  background-image: url(./cover.jpg);
  background-size: cover;
  position: relative;
  
}
.img{
  background-image: image-set();
}

.radio {
  cursor: pointer;
  padding-top: 0.5em;
}
.textName {
  font-size: xx-large;
  font-style: italic;
}
.buttons {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding-top: 0.7em;
  top: 50%;
  left: 50%;
}
.greetBtn {
  padding-right: 0.7em;
  text-align: center;
}
.textCounter {

  text-align: center;
  display: flex;
  flex-direction: row;
margin-top: 0.8em;
 
}
